XerdiPaketSoSe2021_Windows/XerdiPaketSoSe2021_Windows/Xerdi_WS2020/XERDi/xml/xsd/EER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:eer="http://www.informatik.uni-oldenburg.de/2006/EER-Designer/EER"
    xmlns:dt="http://www.informatik.uni-oldenburg.de/2006/EER-Designer/Datatypes"
    targetNamespace="http://www.informatik.uni-oldenburg.de/2006/EER-Designer/EER"
    attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.informatik.uni-oldenburg.de/2006/EER-Designer/Datatypes"
        schemaLocation="Datatypes.xsd"/>
    <xs:complexType name="object">
        <xs:attribute name="id" use="required" type="xs:nonNegativeInteger"/>
    </xs:complexType>
    <xs:complexType name="namedObject">
        <xs:complexContent>
            <xs:extension base="eer:object">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="objectRef">
        <xs:attribute name="idref" use="required" type="xs:nonNegativeInteger"/>
    </xs:complexType>
    <xs:element name="eer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="eer:head"/>
                <xs:element ref="eer:model"/>
                <xs:element ref="eer:view"/>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="object">
            <xs:selector xpath="./eer:model/eer:attribute | ./eer:model/eer:entity |
                ./eer:model/eer:relationship | ./eer:model/eer:generalization"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="objectRef" refer="eer:object">
            <xs:selector xpath="./eer:view/eer:node"/>
            <xs:field xpath="@idref"/>
        </xs:keyref>
        <xs:key name="generalization">
            <xs:selector xpath="./eer:model/eer:generalization"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="generalizationRef" refer="eer:generalization">
            <xs:selector xpath=".//eer:generalizationRef"/>
            <xs:field xpath="@idref"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="head">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" minOccurs="0" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="model">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="eer:attribute"/>
                <xs:element ref="eer:entity"/>
                <xs:element ref="eer:relationship"/>
                <xs:element ref="eer:generalization"/>
                <xs:element ref="eer:businessRule"/>
            </xs:choice>
        </xs:complexType>
        <xs:key name="namedObject">
            <xs:selector xpath="./eer:attribute | ./eer:entity | ./eer:relationship"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="namedObjectRef" refer="eer:namedObject">
            <xs:selector xpath="./businessRule"/>
            <xs:field xpath="@about"/>
        </xs:keyref>
        <xs:key name="entity">
            <xs:selector xpath="./eer:entity"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="entityRef" refer="eer:entity">
            <xs:selector xpath=".//eer:entityRef"/>
            <xs:field xpath="@idref"/>
        </xs:keyref>
        <xs:key name="attribute">
            <xs:selector xpath="./eer:attribute"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="attributeRef" refer="eer:attribute">
            <xs:selector xpath=".//eer:attributeRef"/>
            <xs:field xpath="@idref"/>
        </xs:keyref>
        <xs:unique name="uniqueAttributeRef">
            <xs:selector xpath=".//eer:attributeRef"/>
            <xs:field xpath="@idref"/>
        </xs:unique>
    </xs:element>
    <xs:element name="attribute">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:namedObject">
                    <xs:choice>
                        <xs:element ref="eer:attributes"/>
                        <xs:sequence>
                            <xs:element ref="eer:domain"/>
                            <xs:element ref="eer:default" minOccurs="0"/>
                        </xs:sequence>
                    </xs:choice>
                    <xs:attribute name="key" default="false">
                        <xs:simpleType>
                            <xs:union memberTypes="xs:boolean">
                                <xs:simpleType>
                                    <xs:restriction base="xs:NMTOKEN">
                                        <xs:enumeration value="primary"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:union>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="derived" default="false" type="xs:boolean"/>
                    <xs:attribute name="multivalued" default="false" type="xs:boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="attributes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="attributeRef" minOccurs="0" maxOccurs="unbounded"
                    type="eer:objectRef"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="domain">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="eer:datatype"/>
                <xs:element ref="eer:restrictions" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="datatype">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="eer:parameter" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="dt:datatypes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parameter">
        <xs:complexType>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="integer"/>
                        <xs:enumeration value="string"/>
                        <xs:enumeration value="boolean"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="value" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="restrictions">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="eer:notNull"/>
                <xs:element ref="eer:minimum"/>
                <xs:element ref="eer:maximum"/>
                <xs:element ref="eer:pattern"/>
                <xs:element ref="eer:enumeration"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="notNull">
        <xs:complexType/>
    </xs:element>
    <xs:element name="minimum">
        <xs:complexType>
            <xs:attribute name="value" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="maximum">
        <xs:complexType>
            <xs:attribute name="value" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="pattern">
        <xs:complexType>
            <xs:attribute name="value" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="enumeration">
        <xs:complexType>
            <xs:attribute name="value" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="default">
        <xs:complexType>
            <xs:attribute name="value" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="entity">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:namedObject">
                    <xs:sequence>
                        <xs:element ref="eer:attributes"/>
                    </xs:sequence>
                    <xs:attribute name="weak" default="false" type="xs:boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="relationship">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:namedObject">
                    <xs:sequence>
                        <xs:element ref="eer:attributes"/>
                        <xs:element ref="eer:participatingEntities"/>
                    </xs:sequence>
                    <xs:attribute name="identifying" default="false" type="xs:boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="participatingEntities">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entityRef" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="eer:objectRef">
                                <xs:attribute name="cardinality" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:length value="1"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="total" default="false" type="xs:boolean"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="generalization">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:object">
                    <xs:sequence>
                        <xs:element ref="eer:superEntity"/>
                        <xs:element ref="eer:subEntities"/>
                    </xs:sequence>
                    <xs:attribute name="type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="disjoint"/>
                                <xs:enumeration value="overlapping"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="total" default="false" type="xs:boolean"/>
                    <xs:attribute name="transform" default="auto">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="auto"/>
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="4"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="superEntity">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entityRef" minOccurs="0" type="eer:objectRef"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="subEntities">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entityRef" minOccurs="0" maxOccurs="unbounded"
                    type="eer:objectRef"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="businessRule">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="description"/>
                        <xs:enumeration value="constraint"/>
                        <xs:enumeration value="derivation"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="about" type="xs:nonNegativeInteger"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="view">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="eer:node"/>
                <xs:element ref="eer:attributeEdge"/>
                <xs:element ref="eer:relationshipEdge"/>
                <xs:element ref="eer:generalizationEdge"/>
                <xs:element ref="eer:specializationEdge"/>
            </xs:choice>
            <xs:attribute name="scaleSize"/>
            <xs:attribute name="fontSize"/>
            <xs:attribute name="notation"/>
        </xs:complexType>
        <xs:unique name="uniqueNode">
            <xs:selector xpath="./eer:node"/>
            <xs:field xpath="@idref"/>
        </xs:unique>
    </xs:element>
    <xs:element name="node">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:objectRef">
                    <xs:sequence>
                        <xs:element ref="eer:pointAnchor"/>
                    </xs:sequence>
                    <xs:attribute name="foreground" type="xs:integer"/>
                    <xs:attribute name="background" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="pointAnchor">
        <xs:complexType>
            <xs:attribute name="x" use="required" type="xs:double"/>
            <xs:attribute name="y" use="required" type="xs:double"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nodeAnchor">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:objectRef">
                    <xs:attribute name="side" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:NMTOKEN">
                                <xs:enumeration value="north"/>
                                <xs:enumeration value="east"/>
                                <xs:enumeration value="south"/>
                                <xs:enumeration value="west"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="position" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:double">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="from">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="eer:pointAnchor"/>
                <xs:element ref="eer:nodeAnchor"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="to">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="eer:pointAnchor"/>
                <xs:element ref="eer:nodeAnchor"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="over">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="eer:pointAnchor" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="label">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="xs:string"/>
                <xs:element ref="eer:pointAnchor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="edge">
        <xs:sequence>
            <xs:element ref="eer:from"/>
            <xs:element ref="eer:to"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="complexEdge">
        <xs:complexContent>
            <xs:extension base="eer:edge">
                <xs:sequence>
                    <xs:element ref="eer:over"/>
                    <xs:element ref="eer:label"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="attributeEdge" type="eer:edge"/>
    <xs:element name="relationshipEdge">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:complexEdge">
                    <xs:attribute name="total" default="false" type="xs:boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="generalizationEdge">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:edge">
                    <xs:attribute name="total" default="false" type="xs:boolean"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="specializationEdge">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eer:edge">
                    <xs:sequence minOccurs="0">
                        <xs:element name="generalizationRef" type="eer:objectRef"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
